.navBarLi{
    display: inline;
    padding: 2%;
}

.navBarul{
    text-align: left;
    padding: 0;
    font-size:large;
    background-color: yellow;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
}

.footerBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: yellow;
    text-align: center;
}

.itemListDiv{
    position: relative;
    margin-top:20
}

.itemListDltBtn{
    margin-left: 9%;
}

.addItemBtn:focus,
addItemBtn:hover{
    color: white;
    background-color: lime;
    outline: none;
}